<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.css">
<!--<link rel="stylesheet" ng-href="/css/{{design[0].layout}}.css">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<ion-view title="Quick Options">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <!-- pull in css based on angular -->
        <!--<link rel="stylesheet" ng-href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/{{ css }}/bootstrap.min.css">-->
        <link rel="stylesheet" ng-href="{{design[0].layout}}.css">
        <!-- section to select styles -->
        <div class="container">
            <label>Products and Customization</label>
            <div class="button-bar">
                <a class="button button-small button-stable" href="#/app/garments">Goods</a>
                <a class="button button-small button-stable" href="#/app/garments">Offers</a>
                <a class="button button-small button-stable" href="#/app/quotelist">Ideas</a>
                <a class="button button-small button-stable" href="#/app/browse">Images</a>
                <a class="button button-small button-stable" href="#/app/contact">Shipping</a>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Layout</label>
                        <select class="form-control" ng-model="design[0].layout" ng-options="layout.url as layout.name for layout in design[4].layouts"></select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Color</label>
                        <select class="form-control" ng-model="design[2].details.Item" ng-options="color as color.name for color in design.shirt.garment.colors"></select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Size</label>
                        <select class="form-control" ng-model="design[2].details.Size" ng-options="size as size for size in design.shirt.garment.colors[0].sizes"></select>
                    </div>
                </div>
            </div>
            <div style="background-color:#{{design[2].details.Item.hex}};height:275px;width:385px">
                <div class="omodule otop" ng-style="{'background-image':'url(' + design[1].details[0].url +')'}">
                    <h2>{{design[0].value}}</h2>
                    <p>{{design[1].value}}</p>
                </div>
            </div>

        </div>
        <br style="clear: both;">
        <ion-list>
            <div class="item item-avatar" style="background:none; border:none; position:inherit">
                <img ng-src="{{design[0].details[0].avitar}}">
                <input ng-model="design[0].value" class="form-control input-sm" id="inputvalue" type="text" style="background:none;  ">
                <input ng-model="design[1].value" class="form-control input-sm" id="inputvalue2" type="text" style="background:none; ">
            </div>
            <ion-item>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Approve Details</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                Approve order below and add to cart...<br /> or visit <a href="http://www.on2t.com/html-tutorial/" target="_blank">here</a> to learn more
                                <ion-list>
                                    <div class="item item-icon-left">
                                        <i class="icon ion-wand"></i>
                                        <b>Main Image</b> -- <input ng-model="design[1].details[0].url" class="form-control input-sm" id="inputurlg" type="text">
                                    </div>
                                    <div class="item item-icon-left">
                                        <i class="icon ion-wand"></i><b>Avitar Image</b> -- <input ng-model="design[0].details[0].avitar" class="form-control input-sm" id="inputurlg" type="text">
                                    </div>
                                    <a ng-repeat="option in design" ng-if="option.id != 'Charges' " href="{{option.template}}" class="item item-icon-left">
                                        <i class="icon ion-wand"></i>
                                        <b>{{option.id }}</b> -- {{option.value}}
                                    </a>
                                </ion-list>
                            </div>
                            <button class="button button-block button-positive" href="#/app/design">Add to Cart</button>
                        </div>
                        <!--<textarea rows="2" cols="65" wrap="soft">{{design}}</textarea>
                        <div ng-repeat="items in design">
                            <div ng-repeat="string in items">
                                {{string}}
                            </div>
                            <div ng-repeat="item in design.garment">
                                
                                {{item}}
                                </div>
                            </div>
                        </div>
                        <b>{{dataString()}}</b>-->
                    </div>
                
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>


