<ion-view view-title="{{shirt.categoryIdentifier | uppercase}} {{shirt.properties.brand}} {{shirt.properties.style}} {{shirt.categoryIdentifier}}  {{shirt.style}}">
    <ion-content>
        <div class="card has-header" ng-controller='shirtCardCtrl' ng-click="openModal()">
            <div class="row responsive">
                <div class="col"><img ng-src="{{shirt.colors[1].images[0].url}}" height="50"/></div>
                <div class="col"><img ng-src="{{shirt.colors[2].images[1].url}}" height="50" /></div>
                <div class="col"><img ng-src="{{shirt.colors[3].images[2].url}}" height="50" /></div>
                <div class="col"><img ng-src="{{shirt.colors[4].images[3].url}}" height="50" /></div>
            </div>
            <div class="item item-divider">
                {{shirt.name}} in {{shirt.colors.length}} colors
            </div>
                <table border="1" cellpadding="2" cellspacing="2">                    
                    <tr>
                        <td  class="checkbox"  ng-repeat="item in shirt.colors" bgcolor="#{{item.hex}}"></td></tr></table>
            <div class="item item-text-wrap">
                {{shirt.description}}
                <div class="item item-divider">
                   {{shirt.comments}} {{shirt.properties.material}}
                </div>
            </div>
        </div>
    </ion-content></ion-view>

