<ion-view title="Design Options">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item>
                <a ng-repeat="option in update" ng-if="option.id != 'Charges' " href="{{option.template}}" class="item item-icon-left">
                    <i class="icon ion-wand"></i>
                    <b>{{option.id }}</b> -- {{option.value}}
                </a>
            </ion-item>
        </ion-list>
        <button class="button button-block button-positive" href="#/app/todos">Add to Cart</button>
    </ion-content>
</ion-view>


