<?xml version="1.0" encoding="UTF-8" ?>
<widget
  xmlns   = "http://www.w3.org/ns/widgets"
    versionCode = "10"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
  id="com.ionicframework.demo374629"
	version="0.1.2" >
  
  
  <!-- versionCode is optional and Android only -->

  <name>on2t Demo</name>

  <description>
    An Demo SIPantic project.
  </description>

  <author email="ken@sipantic.net" href="http://www.sipantic.com/">
    SIPantic Team
  </author>
  <icon src="icon.png" />
  <content src="index.html"></content>
  <gap:plugin name="org.apache.cordova.contacts"  />

</widget>