/* Empty. Add your own CSS if you like */
.done {
    color: red;
  text-decoration: line-through; 
}

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }